<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:/TutorialProjects/MyPomodoro/MyPomodoroServer/LoggerService/logs/internallogs/internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="D:/TutorialProjects/MyPomodoro/MyPomodoroServer/LoggerService/logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>